body{
    background-color: #3ae9af;
}

.subtitulo{
    display: flex;
    margin-left: 2%;
}

.subtitulo__cuadradito{

    height: 60px;
    width: 1%;
    background-color: #ffb000;
}

.subtitulo__titulo{
    width: 20%;
    text-align: center;
}

.integrante-i{
    /* height: 600px; */
    width: 17%;
    background-color: #f8e0ac;
    padding: 4px;
    border: 1px solid rgb(55, 53, 223);
    /* display: inline; */
    border-radius: 20px;
    box-shadow: 5px 5px 2px silver;
}

.integrante-i__imagen{
    width: 100px;
    float: left;
    border-radius: 20px;
    border: 1px solid #ffb000;
    box-shadow: 5px 5px 2px silver;
}

.integrante-i__nombre{
    /* display: inline; */
    text-align: center;

}

.integrantes{
    display: flex;
    justify-content: space-evenly;
}

