.navegacion-global{
    margin-top: 0px;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 0px;
    background-color: #255E4B;
    backdrop-filter: 20px;
    -webkit-box-sizing: content-box;
}

.lista-navegacion{
list-style-type: none;
}

nav li{
    display: inline;
}
.boton__navegacion{
}